body {
  background-color: black;
  margin: 0 auto;
}

#header-section {
  color: black;
  background-color: white;
  padding: 1ex;
}

#logo-text {
  font-family: 'Open Sans';
  font-size: larger;
  padding-left: 3em;
}

#main-content {
  background-color: #1DB954;
  position: absolute;
}

#images {
  background-color: white;
  float: right;
}
/*# sourceMappingURL=index-style.css.map */